{% extends "base.html.twig" %}
{% block title %}Almeko - Mot de passe
{% endblock %}

{% block content %}
<div class="block-small">
	<h2 class="mb-3 text-secondary font-weight-bold">Modifier de mot de passe</h2>
	<a href="{{path('app_compte')}}">Retour</a>
	<hr>

	{% if notification %}
		<div class="alert alert-info">{{notification}}</div>
	{% endif %}

	{{form(form)}}
</div>

	{% endblock %}
