{% extends "base.html.twig" %}
{% block title %}Almeko - Mot de passe
{% endblock %}

{% block content %}
	<h1>Modifier de mot de passe</h1>
	<a href="{{path('app_compte')}}">Retourner à mon compte</a>
	<hr>

	{% if notification %}
		<div class="alert alert-info">{{notification}}</div>
	{% endif %}

	{{form(form)}}

	<hr>
	{% endblock %}
