@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    position: relative;
    font-family: 'Roboto Condensed'; /* Utilise la police 'Roboto Condensed' pour le contenu du corps */
    font-weight: 300; /* Définit l'épaisseur de la police à 300, ce qui est plus léger que le normal */
    color: black; /* La couleur du texte est définie sur noir */
}

body a:hover {
    font-weight: 400; /* Rend le texte un peu plus épais lors du survol */
    text-decoration: none; /* Supprime le soulignement par défaut des liens lors du survol */
    color: #2d45bd; /* Change la couleur du lien au survol en bleu */
}

body a {
    color: #2d45bd; /* Définit la couleur de tous les liens à bleu */
}

.cart-icon {
    height: 20px; /* Hauteur de l'icône du panier */
    padding-left: 15px; /* Espace à gauche de l'icône */
    padding-right: 10px; /* Espace à droite de l'icône */
}

.footer-custom {
    width: 100%; /* Le pied de page occupe toute la largeur */
    text-align: center; /* Centre le texte dans le pied de page */
    position: absolute; /* Positionne le pied de page absolument par rapport à son parent */
    padding-top: 25px; /* Ajoute un espace au-dessus du contenu du pied de page */
    margin-top: 100px; /* Ajoute un espace au-dessus du pied de page lui-même */
}

.product-item {
    margin-top: 50px; /* Ajoute un espace au-dessus de chaque élément de produit */
}

.product-container {
    margin-bottom: 150px; /* Ajoute un espace en dessous du conteneur de produit */
}

.product-item h5 {
    text-transform: uppercase; /* Met le titre du produit en majuscules */
    font-size: 15px; /* Définit la taille de la police du titre du produit */
    margin-bottom: 2px; /* Ajoute un petit espace en dessous du titre du produit */
}

.product-item .product-subtitle {
    display: block; /* Affiche le sous-titre du produit comme un bloc */
    font-size: 14px; /* Taille de la police pour le sous-titre */
    margin-bottom: 10px; /* Espace en dessous du sous-titre */
}

.product-item .product-price {
    font-size: 14px; /* Taille de la police pour le prix */
    font-weight: bold; /* Rend le prix en gras */
}

.block-small {
    max-width: 600px; /* Largeur maximale pour le petit bloc */
    margin: 0 auto; /* Centre le bloc horizontalement */
}

.nav-item .nav-link.active {
    font-weight: bold; /* Rend le texte du lien actif dans la barre de navigation en gras */ 
}